.bg-yellow{
background-color: rgb(229, 234, 101);
}

.my-img{
  padding: .5rem;
    height: 10rem;
    width: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}

.btn-purchase{
  margin: 10px;
}